@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --font-color: #e3e7ff;
  color: var(--font-color);
}

body, html {
  margin: 0;
  font-family: 'Poppins', sans-serif, 'Roboto', monospace;
  color: var(--font-color);
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.profile-bio, li, .repo, p {
  color: var(--font-color);
}

h3 {
  font-weight: 550;
  color: var(--font-color);
}

.repos-list {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* gap: 2rem; */
  width: 66vw;
}

.repo {
  border-radius: 24px;
  width: 27vw;
  height: 24vh;
  transition: 0.4s;
  cursor: default;
}

.datalist {
  margin: 0;
  text-align: center;
  font-size: 26px;

}

ul {
  margin: 0;
  list-style: none;
  text-align: left;
  padding: 0;
}

.btn, a {
  appearance: none;
  font-size: 24px;
  font-family: 'JetBrains Mono', 'Roboto', monospace;
  color: var(--font-color);
  background-color: transparent;
  border: none;
  border-radius: 8px;
  padding: 1rem;
  margin: 1rem;
  cursor: pointer;
  transition: 0.1s;
}

.btn:hover, a:hover {
  font-weight: 500;
  background-color: rgb(251, 65, 84);
  box-shadow: 3px 3px 3px rgba(209, 18, 18, 0.816);
}

.btn:active, a:active {
  color: rgb(201, 15, 33);
  font-weight: bold;
  background-color: transparent;
}

.btn.login {
  background-color: rgb(251, 65, 84);
  font-size: 1em;
  margin: 0;
  padding: 0;
}

.navbar {
  margin-top: 2rem;
  position: fixed;
  text-align: center;
  top: 0px;
  left: 10%;
  transform: translate(-50%, 0);

  display: flex;
  flex-direction: column;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

.header {
  width: 40vw;
}

.user-container {
  margin: 0;
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  border-radius: 100%;
  border: 2px solid rgb(206, 39, 139);
  height: 100px;
  width: 100px;
}

.profile-bio {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem;
  padding-left: 0;
  gap: 2rem;
  font-weight: bold;
}

.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(52, 44, 44);
  z-index: 1000;
  width: 40vw;
  min-width: 650px;
  height: auto;
  display: flex;
  flex-direction: column;

  border-radius: 24px;
  box-shadow: 1px 1px 2px rgba(14, 12, 12, 0.471);
  font-size: 24px;
}

.modal-overlay{ 
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0;
  background-color: rgba(0, 0, 0, 0.614);
  z-index: 1000;

}

.modal-bar {
  align-self: flex-end;
  width: fit-content;
  display: flex;
  align-items: center;
}

.modal-name {
  margin: 0;
  padding: 24px;
  font-weight: 500;
  background-color: rgb(164, 41, 164);
  border-radius: 0 0 0 0;

}

.modal-close {
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-info {
  padding-left: 2rem;
  overflow: hidden;
  white-space: nowrap;
}

a {
  padding: 0.5rem;
  margin: 0;
}

